html{
    font-family: Arial, Helvetica, sans-serif;
}

button{
    background-color: cadetblue;
    color: aliceblue;
    padding: 10px 20px;
    border-radius: 10px;
    border-style: none;
    cursor: pointer;
}

button:hover{
    background-color: rgb(62, 104, 105);
}