<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <servlet-name>H2Console</servlet-name>
    <servlet-class>org.h2.server.web.JakartaWebServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>H2Console</servlet-name>
    <url-pattern>/h2-console/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CadastroCatalogoServlet</display-name>
    <servlet-name>CadastroCatalogoServlet</servlet-name>
    <servlet-class>catalogo.CadastroCatalogoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CadastroCatalogoServlet</servlet-name>
    <url-pattern>/CadastroCatalogoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VitrineServlet</display-name>
    <servlet-name>VitrineServlet</servlet-name>
    <servlet-class>catalogo.VitrineServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VitrineServlet</servlet-name>
    <url-pattern>/VitrineServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ApagarServlet</display-name>
    <servlet-name>ApagarServlet</servlet-name>
    <servlet-class>catalogo.ApagarServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApagarServlet</servlet-name>
    <url-pattern>/ApagarServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PrepararEdicaoServlet</display-name>
    <servlet-name>PrepararEdicaoServlet</servlet-name>
    <servlet-class>catalogo.PrepararEdicaoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PrepararEdicaoServlet</servlet-name>
    <url-pattern>/PrepararEdicaoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AtualizarServlet</display-name>
    <servlet-name>AtualizarServlet</servlet-name>
    <servlet-class>catalogo.AtualizarServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AtualizarServlet</servlet-name>
    <url-pattern>/AtualizarServlet</url-pattern>
  </servlet-mapping>
</web-app>