html{
    font-family: Arial, Helvetica, sans-serif;
}

button{
    background-color: red;
    color: aliceblue;
    border-radius: 10px;
    border-style: none;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover{
    background-color: rgb(141, 38, 38);
}