<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>AdicionarItemServlet</display-name>
    <servlet-name>AdicionarItemServlet</servlet-name>
    <servlet-class>AdicionarItemServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdicionarItemServlet</servlet-name>
    <url-pattern>/AdicionarItemServlet</url-pattern>
  </servlet-mapping>
  <display-name>Mercadinho</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ExibirCarrinhoServlet</display-name>
    <servlet-name>ExibirCarrinhoServlet</servlet-name>
    <servlet-class>ExibirCarrinhoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExibirCarrinhoServlet</servlet-name>
    <url-pattern>/ExibirCarrinhoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReceitasServlet</display-name>
    <servlet-name>ReceitasServlet</servlet-name>
    <servlet-class>ReceitasServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReceitasServlet</servlet-name>
    <url-pattern>/ReceitasServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>AcessoMercadinhoFilter</display-name>
    <filter-name>AcessoMercadinhoFilter</filter-name>
    <filter-class>AcessoMercadinhoFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AcessoMercadinhoFilter</filter-name>
    <url-pattern>/AdicionarItemServlet</url-pattern>
    <dispatcher>REQUEST</dispatcher>
  </filter-mapping>
</web-app>